  <div class="Links"> 
   <h2><strong>Friends</strong></h2> 
    <ul> 
     <li><a href="http://www.holovaty.com/">Adrian Holovaty</a></li> 
<li><a href="http://www.cs.cmu.edu/~acarlson" rel="friend met">Andrew Carlson</a></li> 
<li><a href="http://atkinx.com" rel="friend met colleague">Atkins Meyer</a></li> 
<li><a href="http://www.red-bean.com/sussman/">Ben Collins-Sussman</a></li> 
<li><a href="http://www.benseese.com/" rel="friend met">Ben Seese</a></li> 
<li><a href="http://www.bdog.org" rel="acquaintance met">Bernie Selvey</a></li> 
<li><a href="http://www.adita.org/" rel="friend met neighbor">Bradley Adita</a></li> 
<li><a href="http://www.red-bean.com/fitz/">Brian Fitzpatrick</a></li> 
<li><a href="http://chriskalani.com/">Chris Kalani</a></li> 
<li><a href="http://weblog.lonelylion.com/" rel="friend met colleague">Chris McAvoy</a></li> 
<li><a href="http://colepierce.com/" rel="friend met neighbor">Cole Pierce</a></li> 
<li><a href="http://derek.broox.com" rel="friend met">Derek Broox</a></li> 
<li><a href="http://www.dylanreed.com/" rel="friend met sibling">Dylan Reed</a></li> 
<li><a href="http://edithfrost.com/" rel="acquaintance">Edith Frost</a></li> 
<li><a href="http://elainepark.com" rel="friend met crush">Elaine Park</a></li> 
<li><a href="http://pzmahiru.pixnet.net/blog" rel="friend">Ella Pan</a></li> 
<li><a href="http://gburt.blogspot.com/">Gabriel Burt</a></li> 
<li><a href="http://www.probonobaker.com" rel="friend met crush">Gemma Petrie</a></li> 
<li><a href="http://www.hirominakazawa.com" rel="friend spouse sweetheart">Hiromi Nakazawa</a></li> 
<li><a href="http://www.jacobdehart.com" rel="friend met co-worker" target="_blank">Jacob Dehart</a></li> 
<li><a href="http://www.jakenickell.com" rel="friend met co-worker">Jake Nickell</a></li> 
<li><a href="http://www.callmejeffrey.com" rel="friend met co-worker">Jeffrey Kalmikoff</a></li> 
<li><a href="http://www.beardofbees.com/">Joe Trowbridge</a></li> 
<li><a href="http://www.blight.com/~superfly" rel="friend met">John Jaeger</a></li> 
<li><a href="http://www.in5anity.org" rel="friend met sibling">Jon Ruth</a></li> 
<li><a href="http://lakshvivek.com/" rel="friend met">Lakshmi Nagarajan</a></li> 
<li><a href="http://www.markhayward.net" rel="friend met">Mark Hayward</a></li> 
<li><a href="http://www.therats.org" rel="friend met">Matiss Duhon</a></li> 
<li><a href="http://ghostco.org" rel="friend met">Matthew Woodson</a></li> 
<li><a href="http://www.mikecompton.org" rel="friend met">Mike Compton</a></li> 
<li><a href="http://proxientunit.com" rel="friend met">Mike McNeil</a></li> 
<li><a href="http://www.biblicone.com/" rel="friend met">Mike Standeven</a></li> 
<li><a href="http://www.mimiblume.com" rel="friend met crush">Miriam Meier</a></li> 
<li><a href="http://morganbreaksthings.blogspot.com/" rel="friend met crush">Morgan Thoryk</a></li> 
<li><a href="http://blog.localkinegrinds.com/" rel="friend met">Ryan Kanno</a></li> 
<li><a href="http://moxievanilla.blogspot.com/" rel="friend met">Sarah Bright</a></li> 
<li><a href="http://photodork.org" rel="friend met">Sarah Reed</a></li> 
<li><a href="http://scottvdp.com/">Scott Van Den Plas</a></li> 
<li><a href="http://thom.watership.org" rel="friend met">Thom Parks</a></li> 
<li><a href="http://www.w36.com" rel="friend met">Tim Gunnerson</a></li> 
    </ul> 
   </div> 
