<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="author" content="Harper Reed: harper@nata2.org">
    <meta name="robots" content="noodp,noydir" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <slink href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/journal/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <META name="verify-v1" content="bxsrf6C7p0+qY6MxNCbSNSGdkeDA8dQSxjTsNJu4Sa0=" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <meta name="myid" content="0eda4814-55e0-4756-bf30-0f1bf5a4b469" />
    <link rel="openid.delegate" href="http://harper.myopenid.com/" />
    <link href="http://feeds.feedburner.com/HarperReed" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <link rel="shortcut icon" href="{{ site.media_server }}/favicon.ico">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 header">{% include header.html %}</div>
      </div>
      <hr class="col-md-offset-2 col-md-8" />
      <div class="row hidden-sm hidden-xs">
        <div class="col-md-offset-2 col-md-8 muted well-small well"> {% include bio.html %}</div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 ">{{ content }}</div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 ">{% include footer.html %}</div>
      </div>
    </div> <!-- /container -->
  {% include javascript.html %}
  </body>
</html>

</body>
</html>
