---
layout: default
---
<div class="Post" style="padding-bottom: 50px;">
    <div class="PostHead">
        <h1 class="title"><a title="Permanent Link to {{ page.title }}." href="{{page.url}}" rel="bookmark">{{ page.title }}</a></h1>
        <p class="PostDate">
            <strong class="day">{{page.date | date: "%d"}}</strong>
            <strong class="month">{{page.date | date: "%b"}}</strong>
        </p>
        {% if page.author %}
        <p class="PostInfo">Posted by {{page.author}} at {{page.date | date: "%I:%M %p"}}</p>
        {%else %}
        <br />
        {% endif %}
    </div>
    <div class="PostContent">
        {{ content }}


        <div class="RelatedPosts"> 
            <h3>Related Posts</h3> 
            <ul>
                {% for post in site.related_posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div> 
     </div>
</div>

